
<div class="header">
    <div class="container" style="background-color: grey; width: 100%;">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand scroll-top"><em>N</em>ext <em>L</em>evel <em>F</em>itness</a>
            </div>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <!-- <li><a routerLink="#" >Home</a></li> -->
                    <li><a href="#" class="scroll-link" data-id="Home">Home</a></li>
                    <li><a routerLink="Batches" >Batches</a></li>
                    <li><a href="#Trainers" class="page-scroll" data-id="Trainers">Team</a></li>
                    <li><a routerLink="login" >Login</a></li>
                    <li><a routerLink="services" >Services</a></li>
                    <li><a href="#contact" class="scroll-link" data-id="contact-us">Contact Us</a></li>
                    <li class="menu-btn"><a><button type=" submit" class="btn btn-warning">Register</button></a></li>
                </ul>
            </div>
            <!--/.navbar-collapse-->
        </nav>
        <!--/.navbar-->
    </div>
    <!--/.container-->
</div>






    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          
            <li>
                <a class="page-scroll" href="#about">About</a>
            </li>
            <li>
                <a class="page-scroll" href="#services">Services</a>
            </li>
            <li>
                <a class="page-scroll" href="#Trainers">Trainers</a>
            </li>
            <li>
                <a class="page-scroll" href="#team">Team</a>
            </li>
            <li>
                <a class="page-scroll" href="#contact">Contact</a>
            </li>
        </ul>
    </div>


